@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  font-family: "Anicons Regular", sans-serif;
  font-family: "Anicons Color", sans-serif;
}

.icon {
  font-variation-settings: "TIME" 1;
  transition: font-variation-settings 0.4s ease;
}
.icon:visited {
  font-variation-settings: "TIME" 100;
}
